.container {
  padding: 0 var(--app-padding);
  background: #1b1b1b;
}

.list {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 10%);
  gap: 5px;

  font-weight: 800;
  font-size: 0.525rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.listItem {
  padding: 8px 0;
  border-bottom: 1px solid transparent;

  color: var(--text-disabled);
}

.active {
  color: var(--active);
}
